html {
    background-color: #e6d9cb;
}

body {
    font-family: 'Georgia', serif;
    font-size: 90%;
}

/*Site Navigation*/
.site-nav {
    margin-top: 20px;
}

.site-nav ul {
    margin: 0;
    padding:0;
}

.site-nav li {
    list-style: none;
    float: center;
    margin-right: 10px;
}

.site-nav a {
    text-decoration: none;
    color: #8CBDD6;
    padding: 10px 20px;
    border: 2px solid #8CB3FF;
    display: block;
}

.site nav a:hover {
    background-color: #8CD3FF;
}

/*End Site Navigation*/

img {
    max-width: 100%;
    height: auto;
}

/* Banner Overlay */
.image banner {
    position: relative;
}

.image-banner img {
    display: block;
}

.banner-description {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    padding: 15px 25px;
}
/* End Banner Overlay */

.container {
    max-width: 1130px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFF;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}