.container {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.content-area {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.main-area {
    width: 70%;
    float: left;
}

.group:before,
.group:after {
    content: " ";
    display: table;
            }
.group:after {
    clear:both;
    }
P {
    color: purple;
}

footer p {
    color: red;
}

h1 {
    color: plum;
    text-align: center;
    font-size: 200%;
    font-weight: normal;
}

header p {
    color:violet;
}

header p span {
    color: royalblue;
}

.highlight {
    color: salmon;
    background-color: palegoldenrod;
}

.brand-color {
    color: purple;
    background-color: burlywood;
}